table {
    width: 500px;
    background: #cccc;
    border-collapse: collapse;
    margin-left: 60px;
    
}

h1 {
    margin-left: 170px;
}

th {
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #efefef;
}

td, th {
    padding: 5px;
}

#preco {
    text-align: right;
}

tr:hover {
    background: #2d2d;
}


